.ifo-img{
    display: grid;
    grid-template-columns: 60px 450px;
    grid-gap: 20px;
    margin-left: 50px;
  
}
h1{
    margin: 30px;
}
.small-img img{
    max-width: 60px;
    max-height: 60px;
    display: grid;
    grid-template-columns: 60px;
   margin-bottom: 10px;
   cursor: pointer;
}
.big-img img{
   max-width: 100%;
}

.info{
    display: grid;
    grid-template-columns:1fr 1fr;
}

.information-text h2{
    margin-top: 50px;
}
.information-text p{
    font-size:16px;
}

.t-info span{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}
.bnt-info {
  justify-content: flex-start;


}

.bnt-info .bnt-15{
    margin-right: 30px;
 
}
.price{
    margin-bottom: 30px;
}
.cart-point{
    font-size: 16px;
}
@media(max-width: 768px){
    .bnt-info {
        justify-content: space-evenly;
      
      
      }
    .info{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .information-text{
        max-width: 100%;
    }
    .hide-hr{
        display: none;
    }
    .frame{
        max-width: 100%;
    }
    .t-info{
        text-align: center;
        align-items: center;
        margin-top: 20px;
    }
    .small-img{
        max-width: 60px;
    }
    .big-img img{
        max-width: 100%;
        
     }
     .big-img{
         max-width: 100%;
     }
}
@media(max-width:415px){
    .ifo-img{
        width: 350px;
    }
    .big-img {
        width: 250px;

    }
    .ifo-img{
        margin-left: 5px;
    }
    .t-info{
        width:  350px;
    }
    .hide-img{
        display: none;
    }
    .t-info span{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 30px;
    }

}
@media(max-width:321px){
    
    .ifo-img{
        width: 250px;
    }
    .big-img {
        width: 200px;

    }
    .ifo-img{
        margin-left: 5px;
    }
    .t-info{
        width:  300px;
        margin-left: 5px;
    }
       .t-info span{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 30px;
    }
   
}
  