*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;

}

.logo-page{
    width: 30%;

}
.logo-page img{
    width: 20%;
    margin: 10px;
    margin-left: 30px;
    height: 55px;
   
}
.header{
    width: 100%;
    display: flex;
    background-color: rgb(216, 215, 215);
}
.menu{
width: 70%;
}
.sub-menu{
    padding-left: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
}
.menu-item{
   padding-top: 40px;
    width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:rgb(236, 114, 161);
}
.sub-menu :hover{ 
 color: red;
    
}
.sub-item{
    position: absolute;
    display: none;
    background-color: rgba(197, 230, 245, 0.445);  
    padding: 20px;
    line-height: 1.5;

}
.sub-menu li:hover .sub-item{
display: block;    


}


