*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:  sans-serif;

}
h1{
    text-align: center;
    margin:15px 0;
}
.table{
    border: 1px solid;
}
thead{
    background-color: #333A40;
    color: #fff;
}
.fa-user-plus{
    color: rgb(247, 247, 247);
    margin-left: 10px;
}
tr:nth-child(even) {
    background-color: #ffffff;
  }
.box-item{
    width: 80%;
    margin: auto;
}
.add-student{
    background-color: rgb(86, 167, 110);
    box-shadow: 1px 1px 1px 1px rgb(211, 203, 203);
    border-radius: 5px;
    max-width:100px;
    margin: 20px 0px;
    cursor: pointer;
}
.add-student p{
    color: white;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
}
.add-student:hover{
    background-color: rgb(65, 146, 65);
}
.fix-student {
    display: flex;  ;
    flex-direction: row;
    justify-content: center;
}
.edit{
    cursor: pointer;
}

.delete{
    cursor: pointer;
}
.delete:hover{
   color: rgb(148, 49, 49);
}
.border-a{
    margin-left: 5px;
    margin-right: 5px;
    border-top: none;
}
a{
    text-decoration: none;
}
/* class chung */
.fa-edit,a{
    color: #01A4B6;
}
.fa-trash-alt,span{
    color: #EA2B48;
}
.fa-save,.fa-angle-left{
    color: #fff;
}

/* Thêm học viên */
.form-edit{
    display: none;
}
.form-add{
    display: none;
}
.Apl.show{
    display: block!important;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.form-add h1{
    margin-top: 30px;
}
.form-container {
    max-width: 900px;
    padding: 30px;
    margin: 30px auto 0 auto;
    background-color: #fff;

}

.form__row {
    padding: 8px 0;
    display: flex;
}

.form__label {
    min-width: 90px;
    padding: 5px;
}

.form__input {
    flex: 1;
    height: 35px;
    padding-left: 10px;
}
.button{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.back:hover{
    background-color: rgb(53, 45, 45);
}
.back, .back-edit{
    padding: 10px;
    margin: 5px;
    background: rgb(104, 104, 104);
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}
/* nút lưu */

.save, .save-edit{
    padding: 10px;
    margin: 5px;
    background: rgb(80, 160, 77);
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}
.save:hover{
    background: rgb(46, 138, 46);
}
.form_item{
    text-align: center;
}
.form_item span{
    align-items: left;
   padding-bottom: 50px;
}
/* css phần xóa */
.Apl{
    background-color: rgb(255, 235, 235);
    width: 30%;
    text-align: center;
    padding-top: 30px;
    position: absolute;
    top:0;
    left: 35%;
    box-shadow: 1px 1px 1px 1px rgb(166, 179, 179);
    border-radius: 5px;
    display: none;
  }
  .thongbaoDel{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  .thongbaoDel p{
    cursor: pointer;
  }
   .thongbaoDel :hover{
       color: green;
   }
.pagging{ 
    align-items: center;
    justify-content: center ;
}
